#about-container {
  position: relative;
  width: 100vw;
  max-width: 100%;
  display: flex;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
}

.hover {
  transition: all 0.2s;
  transform: scale(1);
}

.hover:hover {
  transition: all 0.2s;
  color: rgb(201, 201, 201);
}

.about-container-less {
  width: 30%;
  padding: 12px;
  font-size: 36px;
  padding: 40px;
}

.about-container-more {
  width: 70%;
  padding: 40px;
  font-size: 20px;
  font-weight: 200;
  line-height: 1.25;
}

.about-title {
  font-size: 24px;
  margin-bottom: 12px;
}

.about-links-container {
  display: flex;
  gap: 12px;
  margin-top: 32px;
}

.about-links-container a {
  position: relative;
  text-decoration: none !important ;
  font-weight: 400;
  transition: all 0.2s;
}

.about-links-container a:hover {
  color: rgb(201, 201, 201);
}

.about-links-container a:after {
  content: "";
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  color: rgb(201, 201, 201);
}

.about-links-container a:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

@media only screen and (max-width: 940px) {
  #about-container {
    flex-direction: column;
  }

  .about-container-more {
    width: calc(100% - 80px);
  }
}
