#about-container {
  position: relative;
  width: 100vw;
  max-width: 100%;
  display: flex;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
}

.about-container-less {
  width: 30%;
  padding: 12px;
  font-size: 36px;
  padding: 40px;
}

.about-container-more {
  width: 70%;
  padding: 40px;
  font-size: 20px;
  font-weight: 200;
  line-height: 1.25;
}

.about-title {
  font-size: 24px;
  margin-bottom: 12px;
}

.about-links-container {
  display: flex;
  gap: 12px;
  margin-top: 32px;
}

.about-links-container a {
  text-decoration: none !important ;
  font-weight: 400;
}

@media only screen and (max-width: 940px) {
  #about-container {
    flex-direction: column;
  }

  .about-container-more {
    width: calc(100% - 80px);
  }
}
