#education-container {
  position: relative;
  width: 100vw;
  max-width: 100%;
  display: flex;
}

.education-container-less {
  width: 30%;
  padding: 12px;
  font-size: 36px;
  padding: 40px;
}

.hover {
  transition: all 0.2s;
  transform: scale(1);
}

.hover:hover {
  transition: all 0.2s;
  color: rgb(201, 201, 201);
}

.education-container-more {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 40px;
  font-size: 20px;
  font-weight: 200;
  line-height: 1.25;
  gap: 40px;
}

.education-name {
  font-size: 22px;
  margin-bottom: 12px;
}
.education-date {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 12px;
}

.education-desc {
  font-size: 20px;
  font-weight: 200;
}

@media only screen and (max-width: 940px) {
  #education-container {
    flex-direction: column;
  }

  .education-container-more {
    width: calc(100% - 80px);
  }
}
