.portfolio-god-container {
  width: 100vw;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

#portfolio-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  max-width: 1280px;
  background: rgba(36, 36, 36, 0.178);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  border-radius: 42px;
  gap: 18px;
  top: 75vh;
}

@media only screen and (max-width: 1040px) {
  #portfolio-container {
    flex-direction: column;
    gap: 0;
  }
}

@media only screen and (min-width: 1040px) {
  #portfolio-container {
    left: 4vw;
  }
}
