#skills-container {
  position: relative;
  width: 100vw;
  max-width: 100%;
  display: flex;
  z-index: 4;
}

.skills-container-less {
  width: 30%;
  padding: 12px;
  font-size: 36px;
  padding: 40px;
}

.skills-container-more {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  padding: 40px;
  font-size: 20px;
  font-weight: 200;
  line-height: 1.25;
}

.skill-title {
  font-size: 24px;
  margin-bottom: 12px;
}

.skills-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 24px;
  width: 100%;
}

.skill {
  font-size: 20px;
  font-weight: 200;
}

@media only screen and (max-width: 1040px) {
  #skills-container {
    flex-direction: column;
  }

  .skills-container {
    grid-template-columns: auto auto;
  }
}
